{% extends 'base.html' %}

{% block title %}Update{% endblock title %}

{% block body %}

  <!-- input-form start -->

  <div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center"> <!-- Center vertically -->
      <div class="card mb-3 mx-auto" style="max-width: 760px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/wink2.png" class="img-fluid rounded-start pt-2 px-2" alt="image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fs-4">Elhan Raza</h5>
              <p class="card-text">I am a dedicated BTech student pursuing AI & ML at St. Thomas' College of Engineering and Technology, Kolkata. With a knack for learning new skills and languages like Python, C, and Java, I thrive in both independent and team environments. My goal is to contribute to innovative projects through creativity, dedication, and continuous learning</p>
              <p class="card-text"><small class="text-body-secondary">30th March, 2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- input-form end -->

{% endblock body %}
